@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
        
    background-color: rgb(51, 75, 154);
    border-style: outset;
    border-radius: 10px;
}

a {
    display: block;
    padding: 2vh;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: 150%;
}

a:hover {
    background-color: rgb(44, 59, 110);
}


.left {
    float: left;
}

.right {
    float: right;
}